{% extends "admin/layout.html" %}
{% block body %}
<h1>Votes</h1>

<table class="table table-bordered table-striped">
    <thead>
        <th>From</th>
        <th>Time</th>
        <th>Vote</th>
    </thead>
    <tbody>
        {% for vote in votes %}
            <tr>
                {% if vote.active %}
                    <td>{{ vote.fromNumber|prettifydid }}</td>
                {% else %}
                    <td><span style="color: gray;">{{ vote.fromNumber|prettifydid }}</span></td>
                {% endif %}

                {% if vote.active %}
                    <td>{{ vote.created_at.strftime('%Y-%m-%d %I:%M%p') }}</td>
                {% else %}
                    <td><span style="color: gray;">{{ vote.created_at.strftime('%Y-%m-%d %I:%M%p') }}</span></td>
                {% endif %}

                <td><i class="icon-thumbs-{% if vote.direction == 1 %}up{% else %}down{% endif %}"></i></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}