<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rock-O-Meter</title>
    <style type="text/css">
    body
    {
        font-family: Helvetica,Arial;
    }
    #instructions
    {
        font-size: 45pt;
    }
    #meter
    {
        width: 800px;
        height: 800px;
    }
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script type="text/javascript">
    google.load('visualization', '1.0', {'packages':['gauge']});
    google.setOnLoadCallback(draw_chart);

    function draw_chart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Label');
        data.addColumn('number', 'Value');
        data.addRows(1);
        data.setValue(0, 0, '');
    
        // Start at 50, the first AJAX reload will set it to it's correct value
        data.setValue(0, 1, 50);

        // Create and draw the visualization.
        options = { width: 800,
                    height: 800,
                    redFrom: 0, 
                    redTo: {{ red_to }},
                    yellowFrom: {{ red_to }},
                    yellowTo: {{ yellow_to }},
                    greenFrom: {{ yellow_to }},
                    greenTo: 100,
                    majorTicks: ["0", "", "", "", "", "50", "", "", "", "", "100"]
                    }
              
        var chart = new google.visualization.Gauge(document.getElementById('meter'));
        chart.draw(data, options);
    
        // Query the server for the real score every few seconds
        setInterval(function() {
           $.get('{{ url_for("get_score") }}',
                  function(d) {
                      data.setValue(0, 1, parseInt(d));
                      chart.draw(data, options);
                  })}, 1000);

        // Query the server for whether voting has ended or not every few seconds
        setInterval(function() {
            $.get('{{ url_for("get_is_active") }}',
                function(d) {
                    if (d == 'y') { $("#instructions").html("Text ROCK or SUCK to {{ phone_number }}"); }
                    else          { $("#instructions").html("Voting has ended"); }
            })}, 5000);

    }
    </script>
</head>
<body>
    <center>
        <div id="instructions">Loading</div>
        <div id="meter"></div>
    </center>
</body>
</html>