<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rock-O-Meter</title>
    <style type="text/css">
    body
    {
        font-family: Helvetica,Arial;
    }
    #instructions
    {
        font-size: 45pt;
    }
    #meter
    {
        width: 800px;
        height: 800px;
    }
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script type="text/javascript">
    google.load('visualization', '1.0', {'packages':['gauge']});
    google.setOnLoadCallback(draw_chart);


    function draw_chart() {
        window.data = new google.visualization.DataTable();
        window.data.addColumn('string', 'Label');
        window.data.addColumn('number', 'Value');
        window.data.addRows(1);
        window.data.setValue(0, 0, '');
    
        // Start at 50, the first AJAX reload will set it to it's correct value
        window.data.setValue(0, 1, 50);

        // Create and draw the visualization.
        options = { width: 800,
                    height: 800,
                    redFrom: 0, 
                    redTo: 50, 
                    yellowFrom: 50, 
                    yellowTo: 65,
                    greenFrom: 65,
                    greenTo: 100,
                    majorTicks: ["0", "", "", "", "", "50", "", "", "", "", "100"]
                    }
              
        window.chart = new google.visualization.Gauge(document.getElementById('meter'));
        window.chart.draw(data, options);
    
        // Query the server for the real score every few seconds
        setInterval(function() {
           $.get('{{ url_for("get_score") }}',
                  function(d) {
                      window.data.setValue(0, 1, parseInt(d));
                      window.chart.draw(data, options);
                  })}, 1000);

    }
    </script>
</head>
<body>
    <center>
        <div id="instructions">Text ROCK or SUCK to {{ phone_number }}</div>
        <div id="meter"></div>
    </center>
</body>
</html>